#navbar{
    flex-direction: column;
}
#home{
    height: 448px;
    
}
#navbar ul li a{
    flex-direction: row;
    list-style: none;
    font-size: 1.1rem;
    margin: 10px;
}

#home::before{
    height: 400px;
}
.sign_up{
    margin-top: 140%;
}
.form1 input{
    font-size: 0.8rem;
}
